.Card {
  display: flex;
  font-size: 20px;
  height: 400px;
  align-items: center;
  justify-content: center;
  width: 400px;
  padding: 20px;
  flex-direction: column;
}

.BoxContainer {
  display: flex;
  flex: 6;
  flex-direction: column;
  width: 100%;
  background-color: white;
  padding: 15px;
}

.UserContainer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex: 1;
  font-size: 15px;
  flex-direction: row;
  width: 100%;
  img {
    height: 26px;
    width: 26px;
    border-radius: 13px;
    margin-right: 5px;
  }
}
